# docker-compose.yml
version: "3.9"
services:
  postgres:
    image: postgres:15
    container_name: vehicle_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: vehicle_system
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
